/*---------------------
margin all
------------------------*/
.margin-5 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px; }

.margin-10 {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px; }

.margin-20 {
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px; }

.margin-40 {
	margin-top: 40px;
	margin-right: 40px;
	margin-bottom: 40px;
	margin-left: 40px; }

/*---------------------
margin vertical
------------------------*/
.margin-vertical-5 {
	margin-top: 5px;
	margin-bottom: 5px; }

.margin-vertical-10 {
	margin-top: 10px;
	margin-bottom: 10px; }

.margin-vertical-20 {
	margin-top: 20px;
	margin-bottom: 20px; }

.margin-vertical-40 {
	margin-top: 40px;
	margin-bottom: 40px; }

/*---------------------
margin horizontal
------------------------*/
.margin-horizontal-5 {
	margin-right: 5px;
	margin-left: 5px; }

.margin-horizontal-10 {
	margin-right: 10px;
	margin-left: 10px; }

.margin-horizontal-20 {
	margin-right: 20px;
	margin-left: 20px; }

.margin-horizontal-40 {
	margin-right: 40px;
	margin-left: 40px; }

/*---------------------
margin top
------------------------*/
.margin-top-5 {
	margin-top: 5px; }

.margin-top-10 {
	margin-top: 10px; }

.margin-top-20 {
	margin-top: 20px; }

.margin-top-40 {
	margin-top: 40px; }

/*---------------------
margin right
------------------------*/
.margin-right-5 {
	margin-right: 5px; }

.margin-right-10 {
	margin-right: 10px; }

.margin-right-20 {
	margin-right: 20px; }

.margin-right-40 {
	margin-right: 40px; }

/*---------------------
margin bottom
------------------------*/
.margin-bottom-5 {
	margin-bottom: 5px; }

.margin-bottom-10 {
	margin-bottom: 10px; }

.margin-bottom-20 {
	margin-bottom: 20px; }

.margin-bottom-40 {
	margin-bottom: 40px; }

/*---------------------
margin left
------------------------*/
.margin-left-5 {
	margin-left: 5px; }

.margin-left-10 {
	margin-left: 10px; }

.margin-left-20 {
	margin-left: 20px; }

.margin-left-40 {
	margin-left: 40px; }

/*---------------------
padding all
------------------------*/
.padding-5 {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px; }

.padding-10 {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px; }

.padding-20 {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px; }

.padding-40 {
	padding-top: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	padding-left: 40px; }

/*---------------------
padding veritcal - y axis
----------------------------*/
.padding-vertical-5 {
	padding-top: 5px;
	padding-bottom: 5px; }

.padding-vertical-10 {
	padding-top: 10px;
	padding-bottom: 10px; }

.padding-vertical-20 {
	padding-top: 20px;
	padding-bottom: 20px; }

.padding-vertical-40 {
	padding-top: 40px;
	padding-bottom: 40px; }

/*---------------------
padding horizontal - x axis
-----------------------------*/
.padding-horizontal-5 {
	padding-right: 5px;
	padding-left: 5px; }

.padding-horizontal-10 {
	padding-right: 10px;
	padding-left: 10px; }

.padding-horizontal-20 {
	padding-right: 20px;
	padding-left: 20px; }

.padding-horizontal-40 {
	padding-right: 40px;
	padding-left: 40px; }

/*---------------------
padding top
------------------------*/
.padding-top-5 {
	padding-top: 5px; }

.padding-top-10 {
	padding-top: 10px; }

.padding-top-20 {
	padding-top: 20px; }

.padding-top-40 {
	padding-top: 40px; }

/*---------------------
padding right
------------------------*/
.padding-right-5 {
	padding-right: 5px; }

.padding-right-10 {
	padding-right: 10px; }

.padding-right-20 {
	padding-right: 20px; }

.padding-right-40 {
	padding-right: 40px; }

/*---------------------
padding bottom
------------------------*/
.padding-bottom-5 {
	padding-bottom: 5px; }

.padding-bottom-10 {
	padding-bottom: 10px; }

.padding-bottom-20 {
	padding-bottom: 20px; }

.padding-bottom-40 {
	padding-bottom: 20px; }

/*---------------------
padding left
------------------------*/
.padding-left-5 {
	padding-left: 5px; }

.padding-left-10 {
	padding-left: 10px; }

.padding-left-20 {
	padding-left: 20px; }

.padding-left-40 {
	padding-left: 40px; }
