*{box-sizing:border-box;font-family: sans-serif;}
    h2,strong{ text-align: center;}
    strong{color:steelblue;}
        ul{
            list-style-type: none;
            margin:2em auto 0;
            width:40vw;
            padding: 0;
        }

        li{
            display: flex;
            justify-content: flex-end;
            margin:0;padding: 0;
        }
        label{padding: 0.3em;}
        input[type="number"]{
            flex:2;
        }
        input[type=submit]{
            border:1px solid black;
            background-color: skyblue;
            width:15vw;
            margin:0.2em;
            padding: 0.3em;
        }
        input[type=submit]:hover{
            background-color: steelblue;
        }
        .error{color:orangered;}